<div class="pool_index_background">
  <div class="pool_index_pusher"></div>
  <div class="pool_index_bar">
    <a href="/pools/new" class="pool_index_link"></a>
  </div>
  <div class="pool_index_box">
    <p class="pool_index_title"></p>
    <form action="/pools/start" method="post">
      <input type="text" name="passcode" class="pool_index_input"/>
      <button type="submit" class="pool_index_button">Go!</button>
    </form>
  </div>
</div>
