<div class="pool_index_background">
  <div class="pool_index_pusher"></div>

    <a href="/pools/new" class="pool_index_link"><img src="https://cdn2.iconfinder.com/data/icons/media-and-navigation-buttons-round/512/Button_11-128.png" style="visibility:hidden"/></a>

  <div class="pool_index_box">
    <p class="pool_index_title"></p>
    <form action="/pools/start" method="post">
      <input type="text" name="passcode" class="pool_index_input"/>
      <button type="submit" class="pool_index_button">Go!</button>
    </form>
  </div>
</div>
