<div class="pool_new_background">
  <div class="pool_new_pusher"></div>
  <div class="pool_new_whole">
    <%= form_for @pool do |f| %>
      <%= f.label :passcode %>:
      <%= f.text_field :passcode %><br />

      <%= f.submit "New Crew", :class => "pool_new_submit" %>
    <% end %>
  </div>
</div>
