.pool_show_background {
  background: url("http://i.ytimg.com/vi/HzJkJYrqQIU/maxresdefault.jpg");
  background-size:cover;
  height:100%;
  width: 100%;
}

.pool_show_new {
  text-align: center;
  width:50%;
  margin: auto;
  background: lightblue;
  padding:20px
}

.pool_show_new_title {
  color:red;
  font-size: 30px;
}

.pool_show_user {

}

.pool_show_users {
  width:40%;
}

.drag {
  position: relative;
  background: blue;
  color:lightblue;
  margin:5px;
  min-height: 40px;
  font-size: 60px;
  padding-left: 20px;
}
