.pool_index_box {
  background: red;
  opacity: 50%;
  width: 50%;
  margin: auto;
  border: 1px solid gray;
  text-align: center;
  padding-bottom: 30px;
  color: green;
}

.pool_index_title {
  font-size: 40px;
}

.pool_index_input {
  font-size: 40px;
}

.pool_index_button {
  color: blue;
  font-size:400px;
  height: 45px;
  width: 600px;
}
